body{
    background: #dfdfdf;
}

p{ 
    color:rgb(34, 34, 34)
}

.foto-principal {
    width: 200px;
    border: 2px solid #FFFFFF ;/*shorthand*/
    border-radius: 100% 20% 100% 20%;

    /*  border-width: 5px
        border-style: solid 
        border-color: black

    */
}
